* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_photos{
    position: sticky;
    top: 0;
    padding: 1.1rem;
    width: 100%;
    text-align: center;
    color: #eee;

    animation: enhance-header linear both 1s;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
    z-index: 1;
}

.uploader{
    width: 30%;
    padding: 3rem;
    background-color: #4447;
    border: 1px solid #3337;
    transition: .2s;
    text-align: center;
    justify-content: center;
}

/* .uploader:hover{
    background-color: #5558;
    color: #eee9;
    border: 1px solid transparent;
} */

.photo_container{
    columns: 4;
    justify-content: space-between;
    max-width: 75%;
    padding: 3rem;
    min-height: 72vh;
}

img{
    margin-bottom: 0.8rem;
    width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 0 0 8px rgba(0,0,0,.5);

    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 35%;
}

footer{
    padding: 1rem;
    color: #ccc9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    align-items: center;
}

a{
    color: #ccc9;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #eee9;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes enhance-header{
    to{
        background: #3337;
        backdrop-filter: blur(2rem);
        color: #ccc9;
        font-size: 1.3rem;
    }    
}